<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My compelling storytelling combined with my detail-oriented analytical process means I can communicate
          minute brand nuances in a digestible and replicable way. </p>
      </div>
      <div class="col-lg-4">
        <p>I'm practiced in written, verbal, and visual communication. I'm also proficient in python and have experience 
          in web design, app development, and data science. With my mathematics education, I'm positioned to think logically, so 
        there will never be gaps in a communication. And, I have years of leadership experience. </p>
      </div>
    </div>
  </div>
</section>
